PUBLIC_COOKIE_BANNER_ID=
PUBLIC_COOKIE_BANNER_API_BASE_URL=http://localhost:8080/api/cookie-banner/v1
PUBLIC_POSTHOG_API_KEY=
PUBLIC_POSTHOG_FEATURE_FLAG=example-beta-panel
PUBLIC_POSTHOG_DEMO_DISTINCT_ID=cookie-banner-example-demo
